<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>Bookstore_v1</display-name>
	
	<welcome-file-list>
		<welcome-file>form.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>adminEmail</param-name>
		<param-value>kyo6728@gmail.com</param-value>
	</context-param>

	<listener>
		<listener-class>edu.neu.dengkai.servlet.MyServletContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>ContextParam</param-name>
		<param-value>Got ContextParameter successfully</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>ListenerTest</servlet-name>
		<servlet-class>edu.neu.dengkai.servlet.MyServletContextServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListenerTest</servlet-name>
		<url-pattern>/ListenTest.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BookSearch</servlet-name>
		<servlet-class>edu.neu.dengkai.servlet.BookSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookSearch</servlet-name>
		<url-pattern>/SearchBook.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>edu.neu.dengkai.servlet.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/Download.do</url-pattern>
	</servlet-mapping>
</web-app>